@font-face {
  font-family: "iconfont"; /* Project id 2666657 */
  src: url('iconfont.woff2?t=1627282869638') format('woff2'),
       url('iconfont.woff?t=1627282869638') format('woff'),
       url('iconfont.ttf?t=1627282869638') format('truetype');
}

[class^='icon-'],[class*=' icon'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jifen:before {
  content: "\e65e";
}

.icon-lyq-xinxi:before {
  content: "\e663";
}

.icon-huiyuan-:before {
  content: "\e606";
}

.icon-wode1:before {
  content: "\e607";
}

.icon-xiazai:before {
  content: "\e661";
}

.icon-dianpu:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e64a";
}

.icon-kefu:before {
  content: "\e605";
}

.icon-fanhui:before {
  content: "\e625";
}

.icon-wodedangxuan:before {
  content: "\e600";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e601";
}

.icon-yemian:before {
  content: "\e602";
}

.icon-qicheqianlian-select-copy:before {
  content: "\e603";
}

